@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap");
html {
  background-image: url(./images/bg-pattern-top-mobile.svg), url(./images/bg-pattern-bottom-mobile.svg);
  background-position: top left, bottom -10px right;
  background-repeat: no-repeat;
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: Spartan;
  font-size: 16px;
  overflow-x: hidden;
}

*, *::before, *::after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

.wrapper {
  min-width: 30em;
  margin: 6em auto 0;
  padding: 0 2em;
  font-size: 1rem;
}
.wrapper .wrapper__information {
  text-align: center;
}
.wrapper .wrapper__information .information__heading {
  margin: 0.75em auto;
  color: #502050;
  font-size: 2.8em;
  font-weight: 700;
}
.wrapper .wrapper__information .information__paragraph {
  margin: 0.75em auto;
  color: #937b92;
  font-size: 1.4em;
  font-weight: 500;
}
.wrapper .wrapper__rate {
  margin: 2.5em auto;
}
.wrapper .wrapper__rate .rate__stars {
  display: inline-block;
  width: 100%;
  margin: 1.5em auto;
  border-radius: 0.5em;
  background-color: #f7f2f7;
  text-align: center;
}
.wrapper .wrapper__rate .rate__stars .stars__flexbox {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  margin: 1em auto 0.5em;
  width: 30%;
}
.wrapper .wrapper__rate .rate__stars .stars__flexbox img {
  max-width: 1.5em;
  max-height: 1.5em;
}
.wrapper .wrapper__rate .rate__stars .stars__name {
  margin: 0.5em auto 1em;
  padding: 0 2em;
  color: #502050;
  font-size: 1.2em;
  font-weight: 700;
}
.wrapper .wrapper__rate .rate__stars:hover {
  background-color: #edecef;
  transition: all 300ms;
}
.wrapper .wrapper__testimonials .testimonials__box {
  margin: 1.5em auto;
  padding: 1.75em;
  border-radius: 0.5em;
  background-color: #502050;
  font-size: 1.3em;
}
.wrapper .wrapper__testimonials .testimonials__box .box__user {
  display: flex;
}
.wrapper .wrapper__testimonials .testimonials__box .box__user .user__pic {
  margin-right: 2em;
  border-radius: 50%;
  width: 4em;
}
.wrapper .wrapper__testimonials .testimonials__box .box__user .user__information {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.wrapper .wrapper__testimonials .testimonials__box .box__user .user__information span {
  margin: 0.2em auto;
}
.wrapper .wrapper__testimonials .testimonials__box .box__user .user__information .information__name {
  color: #fff;
  font-weight: 700;
}
.wrapper .wrapper__testimonials .testimonials__box .box__user .user__information .information__verified {
  color: #ee68a4;
  font-weight: 400;
}
.wrapper .wrapper__testimonials .testimonials__box .box__testimonial {
  margin-top: 2em;
  color: #f7f2f7;
  line-height: 1.5;
}

.attribution {
  margin: 1rem auto;
  font-size: 1.4rem;
  text-align: center;
}

.attribution a {
  color: #7843a3;
}

@media (min-width: 622px) {
  html {
    background-image: url(./images/bg-pattern-top-desktop.svg), url(./images/bg-pattern-bottom-desktop.svg);
  }
}
@media (min-width: 720px) {
  .wrapper {
    padding: 0 4em;
    font-size: 1.1rem;
  }
  .wrapper .wrapper__testimonials {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .wrapper .wrapper__testimonials .testimonials__box {
    flex-basis: 45%;
    margin: 1.5em auto;
  }
}
@media (min-width: 1080px) {
  .wrapper {
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: repeat(2, auto);
    column-gap: 5em;
    margin-top: 8em;
    padding: 0;
    max-width: 80vw;
  }
  .wrapper .wrapper__information {
    display: flex;
    flex-direction: column;
    text-align: initial;
  }
  .wrapper .wrapper__information .information__heading {
    font-size: 3.64em;
  }
  .wrapper .wrapper__rate {
    width: 85%;
  }
  .wrapper .wrapper__rate .rate__stars:nth-child(2) {
    margin-left: 7.5%;
  }
  .wrapper .wrapper__rate .rate__stars:nth-child(3) {
    margin-left: 15%;
  }
  .wrapper .wrapper__testimonials {
    grid-column: 1/-1;
  }
}
@media (min-width: 1440px) {
  .wrapper {
    grid-template-columns: 4fr 5fr;
    gap: 5em;
  }
  .wrapper .wrapper__information .information__heading {
    margin: 0.5em auto;
    padding-right: 2em;
    font-size: 4.48em;
  }
  .wrapper .wrapper__information .information__paragraph {
    margin: 0 auto;
    font-size: 1.54em;
  }
  .wrapper .wrapper__rate .rate__stars {
    display: flex;
    margin: 1.5em auto;
    padding: 1.5em;
  }
  .wrapper .wrapper__rate .rate__stars .stars__flexbox,
.wrapper .wrapper__rate .rate__stars .stars__name {
    margin: 0 2em;
    padding: 0;
  }
  .wrapper .wrapper__testimonials {
    align-items: flex-start;
    justify-content: center;
  }
  .wrapper .wrapper__testimonials .testimonials__box {
    flex-basis: 30%;
  }
  .wrapper .wrapper__testimonials .testimonials__box:nth-child(2) {
    margin-top: 3%;
  }
  .wrapper .wrapper__testimonials .testimonials__box:nth-child(3) {
    margin-top: 6%;
  }
}

/*# sourceMappingURL=styles.css.map */
