@use '../theme' as thm;
@use 'sass:map';

//********************************* 
//* RATE-CONTAINER
//*********************************
.rate-container {
    margin: 2.75rem auto;
    text-align: center;
    @include thm.less-query($device: 'tablet', $size: 'lg') {
        inline-size: 85%;
    }

    @at-root {
        .rate {
            &__stars {
                display: inline-block;
                margin-block: 1.65rem;
                border-radius: .5em;
                inline-size: 100%;
                background-color: map.get(thm.$clr, 'magenta-100');
                @include thm.less-query($device: 'tablet', $size: 'lg') {
                    &:nth-child(2) { margin-inline-start: 7.5%; }

                    &:nth-child(3) { margin-inline-start: 15%; }
                }
                @include thm.less-query($device: 'desktop', $size: 'sm') {
                    @include thm.less-flexbox();
                    padding: 2rem;
                }
            }

            &__heading {
                margin-block: .6rem 1.2rem;
                padding-inline: 2.2rem;
                @include thm.less-query($device: 'desktop', $size: 'sm') {
                    margin: 0;
                    padding-inline: 0; 
                }
            }

            &__heading > h2 {
                font-size: 1.4rem;
                color: map.get(thm.$clr, 'magenta-300');
                @include thm.less-query($device: 'tablet', $size: 'sm') {
                    font-size: 1.6rem;
                }
            }
        }

        .stars-container {
            display: inline-block;
            margin-block: 1.2rem .6rem; 
            inline-size: 40%;
            @include thm.less-query($device: 'desktop', $size: 'sm') {
                margin: 0 3%;
                inline-size: 30%;
            }

            > figure {
                @include thm.less-flexbox($jt-content: space-between, $al-items: center);
                block-size: 100%;
            }

            [alt="Star icon"] {
                max-inline-size: 1.75rem;
                max-block-size: 1.75rem;
            }
        }
    }
}