@use '../theme' as thm;
@use 'sass:map';

//********************************* 
//* HTML TAGS 
//*********************************
html {
    font-size: 62.5%;
    @include thm.less-box();
}

body {
    font: {
        family: map.get(thm.$ff, 'main');
        size: 16px;
    }
    @include thm.mx-background();
    @include thm.less-query($device: 'smartphone', $size: 'lg') {
        @include thm.mx-background($device: 'desktop');
    }
    background: {
        repeat: no-repeat;
        position: top left, bottom -1rem right;
        attachment: fixed;
    }
}

* {
    @include thm.less-box();
    margin: 0;
    padding: 0;
}

//********************************* 
//* TYPOGRAHPY 
//*********************************