@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap");
html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Spartan";
  font-size: 16px;
  background-image: url("https://said-alrove.github.io/social-proof-section-sass/assets/svg/bg-pattern-top-mobile.svg"), url("https://said-alrove.github.io/social-proof-section-sass/assets/svg/bg-pattern-bottom-mobile.svg");
  background-repeat: no-repeat;
  background-position: top left, bottom -1rem right;
  background-attachment: fixed;
}
@media (min-width: 622px) {
  body {
    background-image: url("https://said-alrove.github.io/social-proof-section-sass/assets/svg/bg-pattern-top-desktop.svg"), url("https://said-alrove.github.io/social-proof-section-sass/assets/svg/bg-pattern-bottom-desktop.svg");
  }
}

* {
  margin: 0;
  padding: 0;
}
*, *::before, *::after {
  box-sizing: inherit;
}

.wrapper {
  margin-block-start: 6rem;
  margin-inline: auto;
  min-inline-size: 30rem;
  padding-inline: 2rem;
}
@media (min-width: 768px) {
  .wrapper {
    margin-block-start: 8rem;
    padding-inline: 4em;
  }
}
@media (min-width: 1080px) {
  .wrapper {
    display: grid;
    grid: repeat(2, auto)/2fr 3fr;
    column-gap: 5rem;
    max-inline-size: min(130rem, 80vw);
    padding: 0;
  }
}
@media (min-width: 1212px) {
  .wrapper {
    display: grid;
    grid-template-columns: 4fr 5fr;
    gap: 5rem;
  }
}

.information-container {
  text-align: center;
}
@media (min-width: 1080px) {
  .information-container {
    display: flex;
    flex-direction: column;
    text-align: initial;
  }
}
.information__heading > h1 {
  margin-block: 2.25rem;
  font-size: 3rem;
  color: #502050;
}
@media (min-width: 1080px) {
  .information__heading > h1 {
    margin-block: 4.5rem 3rem;
    font-size: 4rem;
  }
}
@media (min-width: 1212px) {
  .information__heading > h1 {
    margin: 4rem auto 2rem;
    padding-inline-end: 5rem;
    font-size: 4.6rem;
  }
}
.information__paragraph > p {
  margin-block: 4.5rem 3rem;
  font-size: 1.45rem;
  font-weight: 500;
  color: #937b92;
}
@media (min-width: 1080px) {
  .information__paragraph > p {
    margin-block: 0.5rem;
  }
}
@media (min-width: 1212px) {
  .information__paragraph > p {
    margin-block: 0;
    font-size: 1.75rem;
  }
}

.rate-container {
  margin: 2.75rem auto;
  text-align: center;
}
@media (min-width: 1080px) {
  .rate-container {
    inline-size: 85%;
  }
}
.rate__stars {
  display: inline-block;
  margin-block: 1.65rem;
  border-radius: 0.5em;
  inline-size: 100%;
  background-color: #f5eff5;
}
@media (min-width: 1080px) {
  .rate__stars:nth-child(2) {
    margin-inline-start: 7.5%;
  }
  .rate__stars:nth-child(3) {
    margin-inline-start: 15%;
  }
}
@media (min-width: 1212px) {
  .rate__stars {
    display: flex;
    padding: 2rem;
  }
}
.rate__heading {
  margin-block: 0.6rem 1.2rem;
  padding-inline: 2.2rem;
}
@media (min-width: 1212px) {
  .rate__heading {
    margin: 0;
    padding-inline: 0;
  }
}
.rate__heading > h2 {
  font-size: 1.4rem;
  color: #502050;
}
@media (min-width: 768px) {
  .rate__heading > h2 {
    font-size: 1.6rem;
  }
}

.stars-container {
  display: inline-block;
  margin-block: 1.2rem 0.6rem;
  inline-size: 40%;
}
@media (min-width: 1212px) {
  .stars-container {
    margin: 0 3%;
    inline-size: 30%;
  }
}
.stars-container > figure {
  display: flex;
  justify-content: space-between;
  align-items: center;
  block-size: 100%;
}
.stars-container [alt="Star icon"] {
  max-inline-size: 1.75rem;
  max-block-size: 1.75rem;
}

@media (min-width: 768px) {
  .testimonials-container {
    display: flex;
    flex-wrap: wrap;
  }
}
@media (min-width: 1080px) {
  .testimonials-container {
    grid-column: 1/-1;
  }
}
@media (min-width: 1212px) {
  .testimonials-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
}
.testimonials__box {
  margin-block: 2rem;
  padding: 2.4rem;
  font-size: 1.45rem;
  border-radius: 0.5em;
  background-color: #502050;
}
@media (min-width: 768px) {
  .testimonials__box {
    flex-basis: 45%;
    margin-inline: auto;
  }
}
@media (min-width: 1212px) {
  .testimonials__box {
    flex-basis: 30%;
  }
}
@media (min-width: 1212px) {
  .testimonials__box:nth-child(2) {
    margin-block-start: 6vh;
  }
}
@media (min-width: 1212px) {
  .testimonials__box:nth-child(3) {
    margin-block-start: 12vh;
  }
}
.testimonials__flex {
  display: flex;
}
.testimonials__user > img {
  margin-inline-end: 2.8rem;
  inline-size: 5.5rem;
  border-radius: 50%;
}

.testimonials__information {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.testimonials__information > span {
  margin: 0.2rem auto;
}
.information__name {
  font-weight: 700;
  color: white;
}
.information__verified {
  font-weight: 400;
  color: #ee68a4;
}

.testimonials__comment > p {
  margin-block-start: 2.4rem;
  line-height: 1.5;
  color: #f5eff5;
}

.attribution {
  margin: 1rem auto;
  font-size: 1.4rem;
  text-align: center;
}
.attribution__text > a {
  color: #937b92;
}

.rate__stars {
  transition: all 300ms ease-in-out;
}
.rate__stars:hover {
  background-color: #edecef;
}

@media (min-width: 768px) {
  .testimonials-container {
    display: flex;
    flex-wrap: wrap;
  }
}
@media (min-width: 1080px) {
  .testimonials-container {
    grid-column: 1/-1;
  }
}
@media (min-width: 1212px) {
  .testimonials-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
}
.testimonials__box {
  transition: all 500ms ease-in-out;
}
.testimonials__box:hover {
  transform: translateY(-15%);
  box-shadow: 0 2.5rem 3rem 0 rgba(80, 32, 80, 0.4);
}

.attribution__text > a {
  transition: all 300ms ease-in-out;
}
.attribution__text > a:hover {
  color: #502050;
}

/*# sourceMappingURL=app.css.map */
